<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Bitcoin Autotrade</title>
</head>
<body>
  <h1>AI Recommendation History</h1>
  <table>
    <tr>
      <th>id</th>
      <th>timestamp</th>
      <th>decision</th>
      <th>ratio</th>
      <th>reason</th>
      <th>result</th>
    </tr>
    {% for row in data1 %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
      </tr>
    {% endfor %}
  </table>
  <br>
  <h1>My Asset History</h1>
  <table>
    <tr>
      <th>id</th>
      <th>timestamp</th>
      <th>btc balance</th>
      <th>btc_avg_price</th>
      <th>btc_price</th>
      <th>krw_balance</th>
      <th>total_asset</th>
    </tr>
    {% for row in data2 %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>