/.temp
/__pycache__
/development_log.md
/goorm.manifest
/test.py
/test.txt
/trading_history.db
/.venv
/autotrade/.env
/autotrade/gen-lang-client-0995260521-90505c12cf8c.json
/autotrade/test.py
/autotrade/.venv