.custom-tooltip {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f9fa;
}

.custom-tooltip .main {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
}

.custom-tooltip .sub {
    font-size: 0.8rem;
    color: #757474;
}
